.mainpage-link {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.mainpage-link a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}
.mainpage-link a svg {
  height: 1.2em;
  margin-right: 0.125em;
  position: relative;
  top: 0.05em;
}
.mainpage-link a:hover {
  transform: scale(1.05);
  transform-origin: center center;
  text-decoration: none;
}

.mainpage-link a:visited {
  color: black;
}
