@import './styles/code';
@import './styles/list-items';
@import './styles/typography';
@import './styles/layout';
@import './styles/panels';
@import './styles/tooltips';
@import './styles//tables.scss';
@import './styles/chip';
@import './styles/badge';

.container {
  width: 100%;
  max-width: 976px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 8px;
  padding-left: 8px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.top-image {
  margin-bottom: 15px;
}

.bottom-image {
  margin-top: 15px;
}

/* Navbar */
.navbar .logo {
  display: block;
  height: 2em;
}

.navbar .home {
  color: inherit;
  text-decoration: none;
}

/* Elements */
.content hr {
  height: 2px;
  margin: 40px 0;
  background: var(--gray-100);
  border: none;
}

/* Collapsible */
.content ul.collapsible li {
  list-style: none outside none;
}

.content ul.collapsible .accordion .accordion-header {
  margin-left: -1.25rem;
  padding: 0;
  cursor: pointer;
}

.content ul.collapsible .accordion .accordion-header .icon {
  display: inline-block;
  width: 1.25rem;
  text-align: center;
}

.content ul.collapsible .accordion .accordion-body:last-child {
  margin-bottom: 0;
}

/* Profile */
.content .profile .name {
  margin-bottom: 0;
  font-size: 1.4em;
  line-height: 1.5em;
}

.content .profile .about {
  margin: 0;
}

/* Speech bubble */
.content .bubble {
  position: relative;
  display: inline-block;
  margin-top: 0;
  padding: 0.4em 0.8em;
  overflow: visible;
  color: white;
  background: linear-gradient(to right, #0084ff, #00c4ff);
  border-radius: 0.25em 1em 1em;
  transition: opacity 0.2s ease-in-out;
}

.content .bubble.small {
  font-size: 0.85em;
}

.content .bubble.subtle {
  opacity: 0.5;
}

.content .bubble.subtle:hover {
  opacity: 1;
}

.content .bubble a {
  color: inherit;
}

.content p + div > .bubble:first-child {
  margin-top: -0.25rem;
}

.content .bubble + p,
.content .bubble + div {
  margin-top: 0.25rem;
}

/* Messages */
.content .messages .messages__from:not(:first-of-type) {
  margin-left: 0.5em;
}

.content .messages .messages__from {
  vertical-align: text-top;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s linear;
}

.content .messages .messages__from + label {
  padding-left: 0.25em;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s linear;
}

.content .messages .messages__from:hover,
.content .messages .messages__from:hover + label,
.content .messages .messages__from:checked,
.content .messages .messages__from:checked + label {
  opacity: 1;
}

.content
  .messages
  input[id='lionel-messi']:checked
  ~ div[data-from='lionel-messi'] {
  display: block;
}

.content
  .messages
  input[id='andres-iniesta']:checked
  ~ div[data-from='andres-iniesta'] {
  display: block;
}

.content
  .messages
  input[id='donald-trump']:checked
  ~ div[data-from='donald-trump'] {
  display: block;
}

.content .messages input[id='ryu']:checked ~ div[data-from='ryu'] {
  display: block;
}

.content .messages input[id='you']:checked ~ div[data-from='you'] {
  display: block;
}

.content .messages .message {
  margin-top: 0.5em;
}

.content .messages input + label ~ .message {
  display: none;
}

/* Columns */
.column {
  padding: 0.4rem;
}

// Image :
.content img {
  max-width: 100%;
}

/* Accordions */
.accordion input:checked ~ .accordion-body,
.accordion[open] .accordion-body {
  max-height: 100rem;
}

/* Gatsby overrides */
.content .gatsby-highlight {
  margin: 0.25rem 0;
}

.content .gatsby-highlight:first-child {
  margin-top: 0;
}

.content .gatsby-highlight:last-child {
  margin-bottom: 0;
}
