.page {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 96px;
  color: #232129;
  text-align: center;
}

.code {
  padding: 4;
  color: #8a6534;
  font-size: 20px;
  background-color: #fff4db;
  border-radius: 4px;
}
