.chip {
  display: inline-flex;
  align-items: center;
  max-width: 320px;
  height: 19px;
  margin: 2px;
  padding: 3px 6px;
  overflow: hidden;
  font-size: 90%;
  line-height: 12px;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  background: var(--chip-bg);
  border-radius: 80px;
}
