.content table {
  border: 2px solid rgb(201 209 217 / 50%);
  border-style: hidden;
  border-collapse: collapse;
}

.content table td {
  padding: 0.5rem;
  border: 2px solid rgb(201 209 217 / 50%);
}

.content table th {
  padding: 0.5rem;
  border: 2px solid rgb(201 209 217 / 50%);
}

.content td:first-child,
.content th:first-child {
  border-left: none;
}

.content thead {
  background-color: rgb(201 209 217 / 50%);
}
