:root {
  --blue-100: #00c4ff;
  --blue-200: #0084ff;
  --blue-300: #0077b5;
  --blue-400: #3b5998;
  --blue-500: #5755d9;
  --gray-50: #f5f5f5;
  --gray-100: #d3d3d3;
  --gray-200: #bcc3ce;
  --gray-300: #7f7f7f;
  --gray-400: #616161;
  --gray-500: #4a4a4a;
  --gray-600: #363636;
  --white: #ffffff;
  --black: #000000;
  --chip-bg: #eef0f3;
}
